<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hustar.mentoring.board.mapper.BoardMapper">



	<!-- 게시판 목록 조회 -->
	<select id="selectBoardList" parameterType="com.hustar.mentoring.board.domain.BoardDomain" resultType="com.hustar.mentoring.board.domain.BoardDomain">
		<![CDATA[
			SELECT BOARDLIST.*, MEMBERLIST.memberName FROM 
		]]>
		
		<![CDATA[
			(SELECT * FROM board WHERE divSeq=#{divSeq} ORDER BY boardSeq DESC) AS BOARDLIST
		]]>
		
		<![CDATA[
			INNER JOIN
				(
				select memberEmail, memberName from menti 
				union 
				select memberEmail, memberName from mento
				) AS MEMBERLIST
			ON BOARDLIST.memberEmail = MEMBERLIST.memberEmail
		]]>
		
		<![CDATA[
			WHERE(1) 
		]]>
		
		<!-- 검색어가 null이 아니고 값이 비어 있지 않으면 쿼리문 추가 -->
		<if test='searchKeyword != null and !searchKeyword.equals("")'>
			<!-- 검색조건이 제목만 일때 -->
 			<if test='searchCondition == "boardTitle" '>
				<![CDATA[
 					AND BOARDLIST.boardTitle LIKE CONCAT('%',#{searchKeyword},'%')
 				]]>
 			</if>
			<!-- 검색조건이 내용만 일때 -->
			<if test='searchCondition == "boardContents" '>
				<![CDATA[
					AND BOARDLIST.boardContents LIKE CONCAT('%',#{searchKeyword},'%')
				]]>
			</if>
			<!-- 검색조건이 작성자만 일때 -->
			<if test='searchCondition == "memberName" '>
				<![CDATA[
					AND MEMBERLIST.memberName LIKE CONCAT('%',#{searchKeyword},'%')
				]]>
			</if>
			<!-- 검색조건이 제목+내용 일때 -->
			<if test='searchCondition == "all" '>
				<![CDATA[
					AND (BOARDLIST.boardTitle LIKE CONCAT('%',#{searchKeyword},'%')) OR (BOARDLIST.boardContents LIKE CONCAT('%',#{searchKeyword},'%'))
				]]>
			</if>
		</if>
		
		<![CDATA[
		ORDER BY BOARDLIST.boardSeq DESC
		LIMIT #{firstpage}, #{pageUnit};
		]]>
	</select>
	
	
	
	
	
	
	
	
	<!-- 게시글 상세 조회 -->
	<select id="selectBoardView" parameterType="com.hustar.mentoring.board.domain.BoardDomain" resultType="com.hustar.mentoring.board.domain.BoardDomain">
		<![CDATA[
			SELECT BOARDLIST.*, MEMBERLIST.memberName FROM (SELECT * FROM board WHERE boardSeq = #{boardSeq}) BOARDLIST
		]]>
		<![CDATA[
			INNER JOIN
				(
				select memberEmail, memberName from menti 
				union 
				select memberEmail, memberName from mento
				) AS MEMBERLIST
			ON BOARDLIST.memberEmail = MEMBERLIST.memberEmail;
		]]>
			
	</select>
	
	
	
	
	
	
	
	
	<!-- 게시글 전체 개수 -->
	<select id="selectBoardTotalCnt" parameterType="com.hustar.mentoring.board.domain.BoardDomain" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM 
		]]>
		
		<![CDATA[
			(SELECT * FROM board WHERE divSeq='2' ORDER BY boardSeq DESC) AS BOARDLIST
		]]>
		
		<![CDATA[
			INNER JOIN
				(
				select memberEmail, memberName from menti 
				union 
				select memberEmail, memberName from mento
				) AS MEMBERLIST
			ON BOARDLIST.memberEmail = MEMBERLIST.memberEmail
			
			WHERE(1) 
		]]>
	
		<!-- 검색어가 null이 아니고 값이 비어 있지 않으면 쿼리문 추가 -->
		<if test='searchKeyword != null and !searchKeyword.equals("")'>
			<!-- 검색조건이 제목만 일때 -->
 			<if test='searchCondition == "boardTitle" '>
				<![CDATA[
 					AND BOARDLIST.boardTitle LIKE CONCAT('%',#{searchKeyword},'%')
 				]]>
 			</if>
			<!-- 검색조건이 내용만 일때 -->
			<if test='searchCondition == "boardContents" '>
				<![CDATA[
					AND BOARDLIST.boardContents LIKE CONCAT('%',#{searchKeyword},'%')
				]]>
			</if>
			<!-- 검색조건이 작성자만 일때 -->
			<if test='searchCondition == "memberName" '>
				<![CDATA[
					AND MEMBERLIST.memberName LIKE CONCAT('%',#{searchKeyword},'%')
				]]>
			</if>
			<!-- 검색조건이 제목+내용 일때 -->
			<if test='searchCondition == "all" '>
				<![CDATA[
					AND (BOARDLIST.boardTitle LIKE CONCAT('%',#{searchKeyword},'%')) OR (BOARDLIST.boardContents LIKE CONCAT('%',#{searchKeyword},'%'))
				]]>
			</if>
		</if>
	</select>
	
	
	
	
	
	
	
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="com.hustar.mentoring.board.domain.BoardDomain" useGeneratedKeys="true" keyProperty="boardSeq">
		<![CDATA[
			INSERT INTO board SET
				boardTitle=#{boardTitle},
				boardContents=#{boardContents},
				memberEmail=#{memberEmail},
				divSeq = #{divSeq},
				boardCreateDate=NOW()
		]]>
	</insert>
	
	
	
	
	
	
	
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="com.hustar.mentoring.board.domain.BoardDomain">
		<![CDATA[
			UPDATE board SET boardTitle=#{boardTitle}, boardContents = #{boardContents}, boardModifyDate = NOW()
		]]>
		<![CDATA[, divSeq=#{divSeq}]]>
		
		WHERE boardSeq = #{boardSeq}

	</update>








	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType = "com.hustar.mentoring.board.domain.BoardDomain">
		<![CDATA[
			DELETE FROM board WHERE boardSeq = #{boardSeq}
		]]>
	</delete>
	
	
	
	
	
	
	
	
	<!-- 게시글 첨부파일 저장 -->
	<insert id="uploadFile" parameterType = "com.hustar.mentoring.board.domain.FileDomain">
		<![CDATA[
			INSERT INTO FILE (
				boardSeq,
				fileOriginName,
				filePath,
				fileSize,
				fileContentType
				)
				VALUES
		]]>
		<foreach collection="list" item="file" separator=",">
		(
			#{file.boardSeq},
			#{file.fileOriginName},
			#{file.filePath},
			#{file.fileSize},
			#{file.fileContentType}
		)
		</foreach>
	</insert>
	
	
	
	
	
	
	
	
	<!-- 게시글 첨부파일 조회 -->
	<select id="selectFileList" parameterType = "int" resultType = "com.hustar.mentoring.board.domain.FileDomain">
		<![CDATA[
			SELECT * FROM FILE WHERE boardSeq=#{boardSeq}
		]]>
	</select>
	
	
	
	
	
	
	<!-- 게시글 첨부파일 다운로드 조회 -->
	<select id="selectFileDownload" parameterType = "int" resultType = "com.hustar.mentoring.board.domain.FileDomain">
		<![CDATA[
			SELECT * FROM FILE WHERE boardSeq=#{boardSeq} AND fileSeq = #{fileSeq}
		]]>
	</select>
	
	
	
	<!-- 게시글 삭제시 파일 DB 삭제 처리 -->
	<delete id="deleteFiles" parameterType = "int">
		<![CDATA[
			DELETE FROM FILE WHERE boardSeq=#{boardSeq}
				
		]]>
	
	</delete>
	
	
	
	
	
	
	<!-- 게시글 수정 파일 삭제 처리 -->
	<delete id="deleteFile" parameterType = "int">
		<![CDATA[
			DELETE FROM FILE WHERE boardSeq=#{boardSeq} AND fileSeq=#{fileSeq}
				
		]]>
	
	</delete>
	
	
	
	
	
	
	
	<!-- 댓글 리스트 조회 -->
	<select id="selectReplyList" parameterType="int" resultType="com.hustar.mentoring.board.domain.ReplyDomain">
		<![CDATA[
			SELECT replyList.*, MEMBERLIST.MEMBERNAME FROM 
		]]>
		<![CDATA[
			(SELECT * FROM reply WHERE boardSeq=#{boardSeq} ORDER BY replySEQ DESC) AS replyList
		]]>
		<![CDATA[
			INNER JOIN
				(
				select memberEmail, memberName from menti 
				union 
				select memberEmail, memberName from mento
				) AS MEMBERLIST
			ON replyList.memberEmail = MEMBERLIST.memberEmail;
		]]>
	</select>
	
	
	
	
	
	
	<!-- 댓글 개수 조회 -->
	<select id="selectReplyListCnt" parameterType="int" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM reply WHERE boardSeq=#{boardSeq}	
		]]>
	</select>
	
	
	
	
	
	
	
	
	
	<!-- 댓글 등록 -->
	<insert id="insertreply" parameterType="com.hustar.mentoring.board.domain.ReplyDomain" useGeneratedKeys="true" keyProperty="replySeq">
		<![CDATA[
			INSERT INTO reply (
				boardSeq,
				replyContent,
				memberEmail,
				replyDate
			)
			VALUES (
				#{boardSeq},
				#{replyContent},
				#{memberEmail},
				NOW()
			)
		]]>
	</insert>
	
	
	
	<!-- 댓글 수정 -->
	<update id="updatereply" parameterType="com.hustar.mentoring.board.domain.ReplyDomain">
		<![CDATA[
			UPDATE reply SET replyContent=#{replyContent} WHERE replySeq=#{replySeq} 
		]]>
	</update>
	
	
	
	
	<!-- 댓글 삭제 -->
	<delete id="deletereply" parameterType="int">
		<![CDATA[
			DELETE FROM reply WHERE replySeq=#{replySeq}
		]]>
	</delete>
	
</mapper>