<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hustar.mentoring.main.mapper.MainMapper">
	<select id="selectBookingList" parameterType="com.hustar.mentoring.main.domain.BookingDomain" resultType="com.hustar.mentoring.main.domain.BookingDomain">
		<![CDATA[
			SELECT * FROM booking WHERE memberSeq=#{memberSeq}
		]]>
	</select>
	
	<insert id="insertBooking" parameterType="com.hustar.mentoring.main.domain.BookingDomain" useGeneratedKeys="true" keyProperty="te_id">
		<![CDATA[
			INSERT INTO booking
			 SET bookingTitle=#{bookingTitle}, bookingContent=#{bookingContent}, bookingDate=#{bookingDate}, bookingTime=#{bookingTime}, way=#{way}, memberSeq = #{memberSeq}, accept = #{accept}
		]]>
	</insert>
	
	<update id="updateBooking" parameterType="com.hustar.mentoring.main.domain.BookingDomain">
		<![CDATA[
			UPDATE booking SET
			bookingTitle=#{bookingTitle}, bookingContent=#{bookingContent}, bookingDate=#{bookingDate}, bookingTime=#{bookingTime}, way=#{way}
			WHERE bookingId = #{bookingId}
		]]>
	</update>
	
	
	<delete id="deleteBooking" parameterType="com.hustar.mentoring.main.domain.BookingDomain">
		<![CDATA[
			DELETE FROM booking
			WHERE bookingId = #{bookingId}
		]]>
	</delete>
</mapper>