@charset "UTF-8";

h2 {max-width:1500px; margin : 0 auto; padding : 50px 0 30px 0; font-size : 30px; text-align: center;}

.view {max-width: 1500px; margin : 0 auto; overflow: hidden;}

.view h3 {
	border-top : 3px solid black;
	border-bottom : 1px solid #ccc;
	padding : 10px 0;
	font-size : 30px;
	margin-bottom : 5px;
	}
.view > span {float : right; font-size : 14px;}
.view .view-con {
	min-height: 400px;
	font-size : 16px;
	font-weight : 700;
	margin : 30px 0;
	border-bottom : 1px solid #ccc;}
	
.view .attach-file {padding : 0 0 20px 0;}
.view .attach-file > span {font-size : 16px;}
.view .attach-file div {padding : 5px 0;}

.Board-btn-box {max-width: 1500px; margin : 0 auto; text-align: right; padding : 20px;}
.Board-btn-box a {padding : 10px 20px; border : 1px solid black; font-weight: bold; margin-left: 5px;}

.Reply-box {max-width: 1500px; margin : 0 auto; background: #eee; padding : 10px;}
.Reply-box > div {font-size: 15px;}
.Reply-box > div > span.NumberOfReply {font-size: 17px;}

.Reply-box .Reply-list .Reply {
		background: #fff;
		width : 90%;
		margin :0 auto;
		padding : 10px 5px;
		border-radius: 5px;
		margin-top : 10px;
		margin-bottom : 10px;
		}

.Reply-box .Reply-list .Reply div {font-size : 17px;}
.Reply-box .Reply-write {text-align: center; margin-top : 7px;}
.Reply-box .Reply-write textarea {width: 80%; display: inline-block; font-size : 15px; min-height: 56px;}
.Reply-box .Reply-write a {vertical-align: top; padding : 20px; background: #ccc; display:inline-block;}

