@charset "UTF-8";

h2 {max-width:1500px; margin : 0 auto; padding : 50px 0 30px 0; font-size : 30px; text-align: center;}

.board-form {max-width: 1200px; margin : 0 auto; padding : 20px 0;}


.board-form ul li {padding-bottom : 10px;}
.board-form ul li label {font-size : 16px;}
.board-form ul li input[type=text] {width :100%; min-height: 30px; font-size : 14px;}

.submit-btn {max-width: 1200px; margin : 0 auto;}
.submit-btn input {float : right; padding : 5px 15px;}

