.wrap{
	min-height: calc(92.5vh - 80px);
}

.main-wrap{
	height:100%;
}


.mentoring-box{
    max-width: 1200px;
    height: calc(92.5vh - 80px);
    margin: 10px auto;
    overflow: auto;
    background-color: #fff;
    padding: 35px 10px 35px 10px;
    box-shadow: 0 12px 6px rgb(0 0 0 / 6%);
}

.mentoring-header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.mentoring-header > h1{
    font-size: 30px;
}

.mentoring > .mentoring-gnb{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.mentoring > .mentoring-gnb ul{
    display: table;
    width: 100%;
    margin-bottom: 30px;
}
.mentoring > .mentoring-gnb ul li{
    display: table-cell;
    width: 50%;
    font-size: 18px;
}



.mentoring-list-before > .mentoring-body, .mentoring-list-after > .mentoring-body{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: -12px 12px 6px rgb(0 0 0 / 6%);
    position:relative;
}

.mentoring-list-before > .mentoring-body > .mento-name, .mentoring-list-after > .mentoring-body > .mento-name{
    font-size: 18px;
    margin-bottom: 15px;    
}

.mentoring-list-before > .mentoring-body > .mento-name > span, .mentoring-list-after > .mentoring-body > .mento-name > span{
    border-bottom: 1px solid #000;
}

.mentoring-list-before > .mentoring-body > .mento-name > span > span, .mentoring-list-after > .mentoring-body > .mento-name > span > span{
    font-size: 15px;
}


.mentoring-list-before > .mentoring-body > .mentoring-title, .mentoring-list-after > .mentoring-body > .mentoring-title{
    margin-bottom: 10px;
}

.mentoring-list-before > .mentoring-body > .mentoring-title > h2, .mentoring-list-after > .mentoring-body > .mentoring-title > h2{
    font-size: 18px;
}

.mentoring-list-before > .mentoring-body > .mentoring-content, .mentoring-list-after > .mentoring-body > .mentoring-content{
    font-size: 15px;
    margin-bottom: 10px;
}

.mentoring-list-before > .mentoring-body > .mentoring-info, .mentoring-list-after > .mentoring-body > .mentoring-info{
    position: absolute;
    right:10px;
    top:10px
}

.mentoring-list-before > .mentoring-body > .mentoring-info >li, .mentoring-list-after > .mentoring-body > .mentoring-info >li{
    margin: 10px;
    font-size : 15px;
}

.mentoring-state{
	text-align: right;
}

.mentoring-state > input{
	width: 80px;
    background-color: #fbfbfb;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    transition: all .3s;
    margin-left: 5px;
    margin-top: 15px;
}

.answer{
	width:590px;
	height: 105px;
}

.action-btn{
	cursor: pointer;
	
}
.action-btn:hover{
	font-weight:bold;
}

.hidden{
	display: none;
}

.on{
	border-bottom: 1px solid #000;
}