@charset "UTF-8";

.wrap{
	display: block;
	min-height: calc(92.5vh - 80px);
	background: #fff;
	border: 1px solid #fff;
	margin: 10px;
	
	}
	
.wrap .admin-container{
	display:block;
	width:1200px;
	height:500px;
	margin:250px auto;
	text-align: center;
	
}

.wrap .admin-container h1{
	display:block;
	font-size:60px;
	margin-bottom:80px;
	color: #888;
}

.wrap .admin-container h2{
	display:block;
	font-size:20px;
	color: #888;
}

.wrap .admin-container img{
	width:300px;
	height:270px;
	margin-top: 50px;
}